.bookSummary {
  background: #333;
  color: #fff;
  padding: 1rem;
}

.bookSummary p {
  color: lightblue;
}

.bookSummary p strong {
  color: lightskyblue;
  font-size: 1.1em;
}

.bookCategory {
  color: #fff;
}

.bookCover.ui.image {
  transition: 0.25s ease;
}

.bookCover.ui.image:hover {
  opacity: 0.4;
  background: #000;
}

.discoverMoreButton.ui.button {
  width: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25%;
}
